<div class="row">
    <div class="col col-xs-8">
        <h4>Order detail</h4>
        <p>{{order}}</p>
        <a ui-sref="orders.list" class="btn btn-default">Back</a>
    </div>
    <div class="col col-xs-4">
        <h4>General contition guidelines</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae consequat mi. Pellentesque rutrum mi felis, non sollicitudin leo accumsan condimentum. Donec venenatis venenatis mi eu condimentum. Nam euismod magna eget blandit rhoncus. Praesent ultricies nunc mauris. Nullam volutpat consequat ligula vel dignissim. Morbi enim elit, dapibus et ornare sit amet, dignissim ac erat. Nunc rhoncus auctor interdum. Donec viverra erat quis quam vehicula, non consequat tortor laoreet. Etiam ut nulla semper, vestibulum leo non, pulvinar tortor. Maecenas sagittis et mauris eu placerat. Donec aliquam lorem in eros tincidunt, eget euismod lectus euismod.</p>
    </div>
</div>